{% extends 'base.html' %}

{% block title %}Boggle Home{% endblock %}

{% block content %}
<p>High Score: 
    <b>{{ highscore }}</b> 
    in {{ numplays }} plays
  </p>
  <form method="POST" class="add-word"> 
    <input name="word" class="word" autofocus>
    <button>Submit</button>
</form>

  <p>
    Score: <b class="score">0</b>
    Seconds Left: <b class="timer"></b>
  </p>

  
  <p class="msg">
    <!-- our JS will put messages here dynamically -->
  </p>

  <ul class="words">
    <!-- our JS will words here as they score -->   
  </ul>



{% endblock %}